name: "test-action"
on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: ./
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
